<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ metadata.site_description }}">

  <!-- FONT LINKS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  <!-- CSS FILES -->
  <link rel="stylesheet" href="/assets/css/theme.css" />
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />

  <!-- RSS FEED -->
  <link rel="alternate" type="application/atom+xml" title="{{ metadata.site_title }} - RSS Feed" href="/feed.xml" />

  <title>{{ metadata.site_title }}{{ ' | '+title if title != "home" }}</title>
</head>

<body>
  <!-- HEADER AND NAVIGATION LINKS -->
  {% include "partials/navigation.njk" %}
  <main>
    <article>
      <!-- MAIN CONTENT -->
      {% if page.url != '/' %}<h2>{{ title }}</h2>{% endif %}
      {{ content | safe }}
    </article>
  </main>
  <!-- FOOTER -->
  {% include "partials/footer.njk" %}
</body>

</html>