/* Variables */
:root {
  --font-size: 1.25rem;
}

html {
  font-family: "EB Garamond", serif;
  line-height: 1.5;
  font-size: var(--font-size);
  scroll-behavior: smooth;
  background-color: var(--background-primary);
  color: var(--text-primary);
  box-sizing: border-box;
}

::selection {
  background-color: var(--accent);
  color: var(--background-primary);
}

body {
  margin: 2rem auto;
}

main {
  width: 80%;
  margin: 2rem auto;
}

header,
footer {
  text-align: center;
  margin: 3rem auto;
  width: 90%;
}

nav ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-family: "DM Sans";
}

nav a.active {
  text-decoration: none;
}

section {
  margin: 4rem 0;
}

h1,
h2,
h3 {
  line-height: 1;
  margin-block: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h2 a {
  color: var(--text-primary);
  text-decoration: none;
}

h3 {
  font-size: 2rem;
  font-style: italic;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  color: var(--accent);
  text-decoration-style: dotted;
}

a.button {
  text-decoration: none;
  padding: 4px 16px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--text-primary);
  border: 1px var(--text-primary) solid;
  box-shadow: 8px 8px #111;
}

a.button:active {
  transform: scale(0.98);
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

p {
  margin: 1rem 0;
}

blockquote {
  margin-inline: 1rem;
  border-inline-start: 1px solid var(--background-tertiary);
  padding-inline-start: 1rem;
  color: var(--text-secondary);
  font-size: 0.9rem
}

hr {
  color: var(--background-tertiary);
  margin: 2rem 0;
}

svg {
  vertical-align: middle;
  margin-block-end: 3px;
}

ul li:not(nav ul li, ul.pagination li, ul.index li),
ol li:not(ol.index li) {
  margin-inline-start: 1.5rem;
}

ol:not(ol.index li) {
  margin-block: 1rem;
}

ul.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

ul.pagination li {
  list-style: none;
  text-transform: uppercase;
  font-family: var(--font-small);
}

code,
pre {
  font-family: monospace;
  font-size: 0.75rem;
  background-color: var(--background-secondary);
  border-radius: 4px;
}

code {
  padding: 0 5px;
  margin: 0 2px;
  display: inline-block;
}

pre {
  padding: 1rem;
  overflow-x: auto;
}

pre > code {
  margin: 0;
  padding: 0;
}

table {
  margin: 1rem 0;
  margin-inline-start: -0.5rem;
  max-width: 100%;
  box-sizing: border-box;
}

th {
  font-size: 0.7em;
  font-family: "DM Sans";
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 0;
  vertical-align: middle;
  background-color: var(--background-tertiary);
}

tr:nth-child(even) {
  background-color: var(--background-tertiary);
}

td {
  padding: 0.5rem;
}

/* UTILITY CLASSES */

.text-small {
  font-size: 0.7em;
  font-family: "DM Sans";
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.index {
  list-style-type: none;
  counter-reset: item;
}

.index li {
  font-family: "DM Sans";
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  text-align: center;
}

ol.index li::before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  margin-inline-end: 1rem;
  font-size: 0.7rem;
  font-family: monospace;
}

ul.index li {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0;
  text-align: left;
  text-transform: none;
}

.work-details {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

.work-details p {
  margin: 0;
  width: 50%;
}

.work-details p.full {
  width: 100%;
}

.work-details p > b {
  margin-inline-end: 0.5rem;
}

@media only screen and (min-width: 810px) {
  header,
  main,
  footer {
    width: 70ch;
  }

  ol.index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  ol.index li {
    width: 33%;
    box-sizing: border-box;
    text-align: left;
  }

  ul.index {
    width: 80%;
    margin: 0 auto;
  }

  table {
    margin: 1rem 0;
  }
}
