/* LIGHT THEME */
html[data-theme="light"] {
  --background-primary: #eff1f5;
  --background-secondary: #dce0e8;
  --background-tertiary: #cbcfd9;
  --text-primary: #1e1e2e;
  --text-secondary: #4c4f69;
  --accent: #0043c7;

  --color-red: #d20f39;
  --color-yellow: #df8e1d;
  --color-orange: #fe640b;
  --color-green: #40a02b;
  --color-blue: #1e66f5;
  --color-purple: #8839ef;

  .key, .punctuation {
    color: var(--color-purple);
  }

  .string {
    color: var(--color-green);
  }

  .datetime, .number {
    color: var(--color-orange);
  }

  .comment {
    color: var(--text-secondary);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #eff1f5;
    --background-secondary: #dce0e8;
    --background-tertiary: #cbcfd9;
    --text-primary: #1e1e2e;
    --text-secondary: #4c4f69;
    --accent: #0043c7;

    --color-red: #d20f39;
    --color-yellow: #df8e1d;
    --color-orange: #fe640b;
    --color-green: #40a02b;
    --color-blue: #1e66f5;
    --color-purple: #8839ef;
  }

  .key, .punctuation {
    color: var(--color-purple);
  }

  .string {
    color: var(--color-green);
  }

  .datetime, .number {
    color: var(--color-orange);
  }

  .comment {
    color: var(--text-secondary);
  }
}

/* DARK THEME */

html[data-theme="dark"] {
  --background-primary: #1e1e2e;
  --background-secondary: #11111b;
  --background-tertiary: #313244;
  --text-primary: #cdd6f4;
  --text-secondary: #a6adc8;
  --accent: #89b4fa;

  --color-red: #f18aa7;
  --color-yellow: #f9e2af;
  --color-orange: #fab387;
  --color-green: #a6e3a1;
  --color-blue: #88b3f9;
  --color-purple: #caa5f6;

  .key, .punctuation {
    color: var(--color-purple);
  }

  .string {
    color: var(--color-green);
  }

  .datetime, .number {
    color: var(--color-orange);
  }

  .comment {
    color: var(--text-secondary);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #1e1e2e;
    --background-secondary: #11111b;
    --background-tertiary: #313244;
    --text-primary: #cdd6f4;
    --text-secondary: #a6adc8;
    --accent: #89b4fa;

    --color-red: #f18aa7;
    --color-yellow: #f9e2af;
    --color-orange: #fab387;
    --color-green: #a6e3a1;
    --color-blue: #88b3f9;
    --color-purple: #caa5f6;
  }

  .key, .punctuation {
    color: var(--color-purple);
  }

  .string {
    color: var(--color-green);
  }

  .datetime, .number {
    color: var(--color-orange);
  }

  .comment {
    color: var(--text-secondary);
  }
}
