<footer>
  <p class="text-small text-uppercase">
    Made with <a href="https://www.11ty.dev/">11ty</a> {% lucide "dot", { "size": "14" } %}
    <a href="/credits">Credits</a> {% lucide "dot", { "size": "14" } %}
    <a href="#top">Back to top</a> {% lucide "dot", { "size": "14" } %} 
    <a href="{{ metadata.ao3_link }}">{% lucide "book-text", { "size": "14" } %}</a> {% lucide "dot", { "size": "14" } %} {% lucide "rss", { "size": "14" } %}
  </p>
</footer>