<header>
  <h1>{{ metadata.site_title }}</h1>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/works">works</a></li>
      <li><a href="{{ metadata.ao3_link }}">ao3</a></li>
    </ul>
  </nav>
</header>